<div class="font-title text-6xl">
  <span class="-rotate-90 block w-1 translate-x-4 translate-y-[4.5rem] text-4xl">the</span>
  <span class="ml-9">BIG</span>
  <span class="text-bang-red">BANG</span>
  <span>THEORY</span>
</div>